snakemake
pandas
polars
numpy
bioframe
pyranges
pyBigWig
matplotlib
seaborn
scikit-learn
umap-learn
numba>=0.60.0
llvmlite>=0.43.0
tqdm
pyyaml
pyarrow
torch
transformers
datasets
git+https://github.com/songlab-cal/gpn.git
