snakemake
pandas
polars
numpy
scipy
biopython
matplotlib
seaborn
statsmodels
scikit-learn
tqdm
pyyaml
pyarrow
jupyter
ipykernel
notebook
git+https://github.com/songlab-cal/gpn.git
bioframe
liftover
adjustText
huggingface_hub
matplotlib-venn
